/* font size */
/*///////////////////////// prerequisites /////////////////////////*/
/* import styles */
/* mixins */
/* defaults */
*, *:before, *:after {
  box-sizing: border-box;
  font-family: sans-serif;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all; }

html {
  font-size: 16px; }

.unset {
  margin: 0;
  padding: 0; }

.page-wrap-1200 {
  display: block;
  max-width: 1200px;
  margin: auto; }

.page-wrap-960 {
  display: block;
  max-width: 960px;
  margin: auto; }

/* scrollbar */
::-webkit-scrollbar {
  width: 14px; }

::-webkit-scrollbar-track {
  background-color: white;
  /* border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -o-border-radius: 1em; */
  box-shadow: inset 0 0 0 1px black; }

::-webkit-scrollbar-track-piece:active {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #6441a5;
  /* border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -o-border-radius: 1em; */
  box-shadow: inset 0 0 0 1px black; }

::-webkit-scrollbar-thumb:hover {
  background-color: #7656B1; }

::-webkit-scrollbar-thumb:active {
  background-color: #6441a5; }

::-webkit-scrollbar-button {
  background-color: #6441a5;
  /* border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -o-border-radius: 1em; */
  box-shadow: inset 0 0 0 1px black; }

::-webkit-scrollbar-button:hover {
  background-color: #7656B1; }

::-webkit-scrollbar-button:active {
  background-color: #6441a5; }

::-webkit-scrollbar-corner {
  background-color: black; }

::selection {
  background: #017ab1;
  color: #7656B1; }

::selection:window-inactive {
  background-color: #6441a5;
  color: #7656B1; }

/* end import styles */
/* optional styles */
/* position */
/* arrows */
/* colors */
/* column styles */
.col-6-5-4-3-2-1 {
  display: inline-block;
  width: 16.6666666666668%; }

.col-5-4-3-2-1 {
  display: inline-block;
  width: 20%; }

.col-4-3-2-1 {
  display: inline-block;
  width: 25%; }

.col-3-2-1 {
  display: inline-block;
  width: 33.3333333%; }

.col-2 {
  display: inline-block;
  width: 50%; }

/* width styles */
/* height styles */
/* font styles */
/* padding styles */
/* x-axis */
/* y-axis */
/* top */
/* bottom */
/* left */
/* right */
/* margin styles */
/* x-axis */
/* y-axis */
/* top */
/* bottom */
/* left */
/* right */
/* border radius */
/* buttons */
/*///////////////////////// content styling /////////////////////////*/
/* prereqs */
.off-black {
  background-color: #141414; }

a {
  color: #a68ed2;
  text-decoration: none; }

.bold {
  font-weight: bold; }

.pointer {
  cursor: pointer; }

.link {
  color: #6441a5; }
  .link:hover {
    color: #7656B1; }

.left-justify {
  text-align: left; }

.center-justify {
  text-align: center; }

.right-justify {
  text-align: right; }

.inline-block {
  display: inline-block; }

.hide {
  display: none; }

/* body ----------------------------*/
body {
  background-color: white;
  color: #282828;
  padding: 0 0 16px;
  margin: 0; }

#main-content {
  display: block;
  background-color: #fafafa;
  margin: auto; }

.normal-separator {
  height: 3.2px;
  margin: 16px 0; }

.small-separator {
  height: 1.6px;
  margin: 1.6px 0; }

.normal-separator, .small-separator {
  display: block;
  width: 100%;
  padding: 0 48px;
  border-radius: 5px; }
  .normal-separator span, .small-separator span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #a0a0a0; }

.section-title {
  margin: 0 0 16px;
  padding: 0; }

#top-streams {
  position: relative;
  padding: 16px 16px 16px; }
  #top-streams .top-streams-viewer {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 544px;
    height: 336px; }
    #top-streams .top-streams-viewer .video {
      border: none; }
  #top-streams .top-streams-info {
    display: inline-block;
    max-width: 368px;
    min-height: 352px;
    color: white;
    margin: 0 0 16px;
    text-align: left; }
    #top-streams .top-streams-info p {
      margin: 0; }
    #top-streams .top-streams-info .top-stream-channel .image-div {
      display: inline-block; }
      #top-streams .top-streams-info .top-stream-channel .image-div img {
        width: 64px;
        padding: 0 8px 0 0; }
    #top-streams .top-streams-info .top-stream-channel .details-div {
      display: inline-block;
      vertical-align: top; }
  #top-streams #top-streams-list {
    padding: 0;
    margin: 0;
    text-align: center; }
    #top-streams #top-streams-list .top-stream-item {
      padding: 8px;
      -webkit-filter: grayscale(1); }
      #top-streams #top-streams-list .top-stream-item img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 0 0 1.6px white;
        opacity: .5;
        cursor: pointer; }
        #top-streams #top-streams-list .top-stream-item img:hover {
          opacity: 1; }
      #top-streams #top-streams-list .top-stream-item.selected {
        -webkit-filter: grayscale(0); }
        #top-streams #top-streams-list .top-stream-item.selected img {
          opacity: 1; }

#games-list, #featured-streams-list {
  padding: 0;
  margin: 0;
  padding: 16px;
  text-align: center; }
  #games-list .game-item, #games-list .featured-stream-item, #featured-streams-list .game-item, #featured-streams-list .featured-stream-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 0 16px;
    margin: 0 0 32px;
    transform: scale(1);
    box-shadow: 0 0 0em 0 black;
    cursor: pointer; }
    #games-list .game-item *, #games-list .featured-stream-item *, #featured-streams-list .game-item *, #featured-streams-list .featured-stream-item * {
      pointer-events: none; }
    #games-list .game-item:hover, #games-list .featured-stream-item:hover, #featured-streams-list .game-item:hover, #featured-streams-list .featured-stream-item:hover {
      transform: scale(1.1);
      box-shadow: 0 0 .2em 0 black; }
    #games-list .game-item img, #games-list .featured-stream-item img, #featured-streams-list .game-item img, #featured-streams-list .featured-stream-item img {
      max-width: 100%;
      max-height: 100%; }
    #games-list .game-item .title, #games-list .featured-stream-item .title, #featured-streams-list .game-item .title, #featured-streams-list .featured-stream-item .title {
      display: block;
      min-height: 48px;
      font-size: 16px;
      color: #282828; }
    #games-list .game-item .stats, #games-list .featured-stream-item .stats, #featured-streams-list .game-item .stats, #featured-streams-list .featured-stream-item .stats {
      display: block;
      font-size: 11.2px;
      color: #646464; }

#stream-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #6441a5;
  overflow: hidden;
  /* states */ }
  #stream-viewer #embed-area {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 32px 400px 0 0; }
    #stream-viewer #embed-area #viewer-controls {
      position: absolute;
      top: 0;
      left: 0;
      height: 32px; }
      #stream-viewer #embed-area #viewer-controls div {
        width: 32px;
        height: 100%;
        display: inline-block;
        color: white;
        vertical-align: top;
        box-shadow: inset -.1em -.1em 0 0 black;
        cursor: pointer; }
        #stream-viewer #embed-area #viewer-controls div:hover {
          background-color: #7656B1; }
        #stream-viewer #embed-area #viewer-controls div.close:after {
          content: "\2716";
          position: relative;
          top: .4em;
          left: .6em; }
        #stream-viewer #embed-area #viewer-controls div.display:after {
          content: "\2795";
          position: relative;
          top: .4em;
          left: .6em; }
        #stream-viewer #embed-area #viewer-controls div.chat:after {
          content: "\2971";
          position: relative;
          top: .4em;
          left: .6em; }
    #stream-viewer #embed-area #video-embed {
      width: 100%;
      height: 100%; }
      #stream-viewer #embed-area #video-embed iframe {
        width: 100%;
        height: 100%; }
    #stream-viewer #embed-area #chat-embed {
      position: absolute;
      top: 0;
      right: 0;
      width: 400px;
      height: 100%;
      padding: 32px 0 0;
      pointer-events: none; }
      #stream-viewer #embed-area #chat-embed iframe {
        width: 100%;
        height: 100%;
        pointer-events: auto; }
  #stream-viewer.open {
    width: 100%;
    height: 100%; }
    #stream-viewer.open.shrink {
      width: 192px;
      height: 208px; }
      #stream-viewer.open.shrink #embed-area {
        padding: 0; }
        #stream-viewer.open.shrink #embed-area #chat-embed {
          width: 0; }
  #stream-viewer.hidden-chat #embed-area {
    padding-right: 0; }
    #stream-viewer.hidden-chat #embed-area #chat-embed {
      width: 0; }

#options-bar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #6441a5; }
  #options-bar .nav {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    color: white;
    box-shadow: inset .1em -.1em 0 0 black;
    vertical-align: top; }
    #options-bar .nav:hover {
      background-color: #7656B1; }
    #options-bar .nav.prev:after {
      content: "<";
      font-weight: bold;
      position: relative;
      top: .5em;
      left: .7em; }
    #options-bar .nav.search {
      width: 160px; }
      #options-bar .nav.search input {
        max-width: 128px;
        height: 100%;
        border: none;
        color: white;
        box-shadow: inset 0 -.1em 0 0 black; }
        #options-bar .nav.search input[type="text"] {
          background-color: #211042;
          padding: 0 8px 0; }
        #options-bar .nav.search input[type="submit"] {
          background-color: #6441a5; }
          #options-bar .nav.search input[type="submit"]:hover {
            background-color: #7656B1; }
    #options-bar .nav.log span {
      padding: 8px 8px;
      text-align: center;
      cursor: pointer;
      display: none; }
    #options-bar .nav.log.hide img {
      display: none; }
    #options-bar .nav.log.hide span {
      display: block; }

#login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* hover events ----------------------------*/
/*///////////////////////// responsive styling /////////////////////////*/
@media screen and (max-width: 950px) {
  /* prereqs ----------------------------*/
  .col-6-5-4-3-2-1 {
    width: 20%; }
  .col-5-4-3-2-1 {
    width: 25%; }
  .col-4-3-2-1 {
    width: 33.3333333%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  #top-streams .top-streams-viewer {
    width: 544px;
    height: 336px; }
  #top-streams .top-streams-info {
    max-width: 256px; }
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

@media screen and (max-width: 850px) {
  /* prereqs ----------------------------*/
  .col-6-5-4-3-2-1 {
    width: 25%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  #top-streams .top-streams-viewer {
    width: 480px;
    height: 304px; }
  #top-streams .top-streams-info {
    max-width: 208px; }
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

@media screen and (max-width: 750px) {
  /* prereqs ----------------------------*/
  .col-6-5-4-3-2-1 {
    width: 33.3333333%; }
  .col-5-4-3-2-1 {
    width: 33.3333333%; }
  .col-4-3-2-1 {
    width: 50%; }
  .col-3-2-1 {
    width: 50%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  #top-streams {
    text-align: left; }
    #top-streams .top-streams-viewer {
      position: initial;
      width: 100%;
      height: 432px;
      margin: 0 0 16px; }
    #top-streams .top-streams-info {
      max-width: 100%;
      min-height: auto; }
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

@media screen and (max-width: 650px) {
  /* prereqs ----------------------------*/
  .col-6-5-4-3-2-1 {
    width: 50%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

@media screen and (max-width: 550px) {
  /* prereqs ----------------------------*/
  .col-6-5-4-3-2-1 {
    display: block;
    width: 100%; }
  .col-5-4-3-2-1 {
    width: 50%; }
  .col-4-3-2-1 {
    display: block;
    width: 100%; }
  .col-3-2-1 {
    display: block;
    width: 100%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

@media screen and (max-width: 450px) {
  /* prereqs ----------------------------*/
  .col-5-4-3-2-1 {
    display: block;
    width: 100%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

/*///////////////////////// animations /////////////////////////*/
