/* font size */
/*///////////////////////// prerequisites /////////////////////////*/
/* import styles */
/* mixins */
/* defaults */
*, *:before, *:after {
  box-sizing: border-box;
  font-family: sans-serif;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all; }

html {
  font-size: 16px; }

.page-wrap-960 {
  max-width: 960px; }

/* scrollbar */
::-webkit-scrollbar {
  width: 14px; }

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  box-shadow: inset 0 0 0 1px black; }

::-webkit-scrollbar-track-piece:active {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #6441a5;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  box-shadow: inset 0 0 0 1px black; }

::-webkit-scrollbar-thumb:hover {
  background-color: #7656B1; }

::-webkit-scrollbar-thumb:active {
  background-color: #6441a5; }

::-webkit-scrollbar-button {
  background-color: #6441a5;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  box-shadow: inset 0 0 0 1px black; }

::-webkit-scrollbar-button:hover {
  background-color: #7656B1; }

::-webkit-scrollbar-button:active {
  background-color: #6441a5; }

::-webkit-scrollbar-corner {
  background-color: black; }

::selection {
  background: #017ab1;
  color: #7656B1; }

::selection:window-inactive {
  background-color: #6441a5;
  color: #7656B1; }

/* end import styles */
/* optional styles */
/* position */
/* arrows */
/* colors */
/* column styles */
.col-6-5-4-3-2-1 {
  display: inline-block;
  width: 16.6666666666668%; }

.col-5-4-3-2-1 {
  display: inline-block;
  width: 20%; }

.col-4-3-2-1 {
  display: inline-block;
  width: 25%; }

.col-3-2-1 {
  display: inline-block;
  width: 33.3333333%; }

/* width styles */
/* height styles */
/* font styles */
/* padding styles */
/* x-axis */
/* y-axis */
/* top */
/* bottom */
/* left */
/* right */
/* margin styles */
/* x-axis */
/* y-axis */
/* top */
/* bottom */
/* left */
/* right */
/* border radius */
/* buttons */
/*///////////////////////// content styling /////////////////////////*/
/* body ----------------------------*/
body {
  background-color: #6441a5;
  color: #282828;
  padding: 0;
  margin: 0; }

#main-content {
  display: block;
  max-width: 960px;
  background-color: #fafafa;
  margin: auto; }

.separator {
  height: 3.2px;
  margin: 8px 0; }

.small-separator {
  height: 1.6px;
  margin: 1.6px 0; }

.separator, .small-separator {
  display: block;
  width: 100%;
  padding: 0 48px;
  border-radius: 5px; }
  .separator span, .small-separator span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #a0a0a0; }

.section-title {
  margin: 0 0 16px;
  padding: 16px 16px 0; }

#games-list, #streams-list {
  padding: 0;
  margin: 0;
  padding: 16px;
  text-align: center; }
  #games-list .game-item, #games-list .stream-item, #streams-list .game-item, #streams-list .stream-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 0 16px;
    margin: 0 0 32px; }
    #games-list .game-item img, #games-list .stream-item img, #streams-list .game-item img, #streams-list .stream-item img {
      max-width: 100%;
      max-height: 100%; }
    #games-list .game-item .title, #games-list .stream-item .title, #streams-list .game-item .title, #streams-list .stream-item .title {
      display: block;
      min-height: 48px;
      font-size: 16px;
      color: #282828; }
    #games-list .game-item .stats, #games-list .stream-item .stats, #streams-list .game-item .stats, #streams-list .stream-item .stats {
      display: block;
      font-size: 11.2px;
      color: #646464; }

/* hover events ----------------------------*/
/*///////////////////////// responsive styling /////////////////////////*/
@media screen and (max-width: 950px) {
  /* prereqs ----------------------------*/
  .col-6-5-4-3-2-1 {
    width: 20%; }
  .col-5-4-3-2-1 {
    width: 25%; }
  .col-4-3-2-1 {
    width: 33.3333333%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

@media screen and (max-width: 850px) {
  /* prereqs ----------------------------*/
  .col-6-5-4-3-2-1 {
    width: 25%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

@media screen and (max-width: 750px) {
  /* prereqs ----------------------------*/
  .col-6-5-4-3-2-1 {
    width: 33.3333333%; }
  .col-5-4-3-2-1 {
    width: 33.3333333%; }
  .col-4-3-2-1 {
    width: 50%; }
  .col-3-2-1 {
    width: 50%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

@media screen and (max-width: 650px) {
  /* prereqs ----------------------------*/
  .col-6-5-4-3-2-1 {
    width: 50%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

@media screen and (max-width: 550px) {
  /* prereqs ----------------------------*/
  .col-6-5-4-3-2-1 {
    display: block;
    width: 100%; }
  .col-5-4-3-2-1 {
    width: 50%; }
  .col-4-3-2-1 {
    display: block;
    width: 100%; }
  .col-3-2-1 {
    display: block;
    width: 100%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

@media screen and (max-width: 450px) {
  /* prereqs ----------------------------*/
  .col-5-4-3-2-1 {
    display: block;
    width: 100%; }
  /* header ----------------------------*/
  /* body ----------------------------*/
  /* footer ----------------------------*/
  /* hover events ----------------------------*/ }

/*///////////////////////// animations /////////////////////////*/
